{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h2>Clientes</h2>

<div class = "divBotonesListado">
  <a href="/empresa/clientes/crear" class = "lnk" target="_blank">+</a>
  <a href="/empresa/clientes/crear" class = "descripcion"> Agregar</a>
</div>

<div class = "listados" >
  <div style="float: left">
  <table class = "table"   id = "tblDatos"  >
    <tr>
      <td><strong>Nombre</td>
      <td><strong>Empresa</td>
      <td><strong>Telefono</td>
      <td><strong>Saldo</td>
    </tr>


    {% for dato in comodin %}
      <tr id=datosTablaImprimir>
         <!--<td><a><input type = "checkbox" value = "Falso" id = {{dato.telefono}}  ></a></td>-->
        <td>{{dato.nombre}}</td>
        <td>{{dato.empresa}}</td>
        <td>{{dato.telefono}}</td>
        <td>{{dato.saldo}}</td>
        <td><a href={% url 'index:detallesCliente' dato.id %}><i>Ver</i></a></td>
        <td><a href={% url 'index:editarCliente' dato.id %}><i>Editar</i></a></td>
        <td><a><input type = "submit" value = "agregar" id = {{dato.telefono}}  onclick="nuevafila('impresion','{{dato.nombre}}','{{dato.empresa}}','{{dato.telefono}}','{{dato.saldo}}')" ></a></td>
        
      </tr>
    {% endfor %}

  </table>
  </div>
  
</div>

 

<div id="paginador"></div>

 <div style="float: left" >
    <table id=impresion class = "table" >
      <tr>
      <td><strong>Nombre</td>
      <td><strong>Empresa</td>
      <td><strong>Telefono</td>
      <td><strong>Saldo</td>
      <td><strong>Abono</td>
      </tr>
    </table>
  </div>


<input type=button value="Imprimir" onclick="imprimir('impresion')">

{% endblock %}

{% block js %}

<script type="text/javascript">
$(document).ready(function(){
  var p = new Paginador(
    document.getElementById('paginador'),
    document.getElementById('tblDatos'),
    10
  );

  p.Mostrar();
});


function nuevafila(idTabla,nombre,empresa,telefono,saldo){
  var tabla = document.getElementById(idTabla);
  var longitud = document.getElementById(idTabla).rows.length;
  var fila = tabla.insertRow(longitud);
  var cell1 = fila.insertCell(0);
  var cell2 = fila.insertCell(1);
  var cell3 = fila.insertCell(2);
  var cell4 = fila.insertCell(3);
  cell1.innerHTML = nombre;
  cell2.innerHTML = empresa;
  cell3.innerHTML = telefono;
  cell4.innerHTML = saldo;  
}





function imprimir(soloEsto){


var contenido = document.getElementById(soloEsto).outerHTML;
ventana=window.open("about :blank","ventana","width=700,height=600,top=0,left=3000");
ventana.document.open();
ventana.document.write('<html><link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/><head><title>METALUNA</title></head><body class="table" onprint="self.close()">');
ventana.document.write('<br></br><br></br><br></br><br></br><br></br><br>');
ventana.document.write('</body></html>');
ventana.document.write(contenido);
ventana.document.close();
ventana.print();
ventana.focus();
ventana.close();

}
</script>

{% endblock %}
