{% extends 'base.html' %}

{% block content %}
<h2>Proveedores</h2>

<div class = "divBotonesListado">
  <a href="/agencia/crear" class = "lnk" target="_blank">+</a>
  <a href="/agencia/crear" class = "descripcion"> Agregar</a>
</div>


<div class = "listados">
  <table class = "table">
    <tr>
      <td><strong>Nombre</td>
      <td><strong>Empresa</td>
      <td><strong>Telefono</td>
        <td><strong>Saldo</td>
    </tr>

    {% for dato in comodin %}
      <tr>
        <td>{{dato.nombre}}</td>
        <td>{{dato.empresa}}</td>
        <td>{{dato.telefono}}</td>
        <td>{{dato.saldo}}</td>
        <td><a href={% url 'Comodin:detallesProveedor' dato.id %}><i>Ver</i></a></td>
        <td><a href={% url 'Comodin:editarProveedor' dato.id %}><i>Editar</i></a></td>
      </tr>
    {% endfor %}

  </table>
</div>

{% endblock %}
