{% extends 'base.html' %}


{% block content %}

<div id="bloqueForms">
  <div class = "camposForms">
    <form method="post" action="">
      {%csrf_token%}
      <h2>Editar Cliente</h2>
      <label>Nombre</label>
        {{form.nombre}}
        <label>Empresa</label>
          {{form.empresa}}
          <label>Municipio</label>
          {{form.municipio}}
      <label>Direccion</label>
        {{form.direccion}}
      <label>Telefono</label>
        {{form.telefono}}
        <label>NIT</label>
          {{form.nit}}
          <!-- <label>Bloqueado</label>
            {{form.bloqueado}} -->


      <input type='submit' value='Guardar'>
    </form>
  </div>
</div>

{% endblock %}
