<form method="post" action="">
  {% csrf_token %}
  <div>
    <label>Nombre</label>
      {{form.nombre}}</br>
  </div>
  <div>
    <label>Apellidos</label>
      {{form.apellidos}}</br>
  </div>
  <div>
    <label>CUI</label>
      {{form.cui}}</br>
  </div>
  <div>
    <label>NIT</label>
      {{form.nit}}</br>
  </div>
  <div>
    <label>Sueldo</label>
      {{form.sueldo}}</br>
  </div>
  <div>
    <label>Puesto</label>
      {{form.Puesto_id}}</br>
  </div>
  <div>
    <label>Agencia</label>
      {{form.Agencia_id}}</br>
  </div>
  <div>
    <input type='submit' value='Guardar'>
  </div>
</form>
