{% extends 'base.html' %}

{% block content %}
<h2>Empleados</h2>
<br/>

<div class = "listados">


  <table id='tblDatos' class = "table">
    <tr>
      <td><strong>ID</td>
      <td><strong>Nombre</td>
      <td><strong>Apellidos</td>
      <td><strong>CUI</td>
    </tr>
    {% for empleado in empleados %}
    <tr>
      <td>
        {{empleado.id}}
      </td>
      <td>
        {{empleado.nombre}}
      </td>
      <td>
        {empleado.apellidos}}
      </td>
      <td>
        {% if factura.anulada %}
        No
        {% else %}
        Si
        {% endif %}
      </td>
      <td>
        {{factura.precioTotal}}
      </td>
      <td>
        <a href={% url 'Transacciones:facturas' factura.id %}>Ver</a>
      </td>
    </tr>
    {% endfor %}

  </table>
  <div id="paginador"></div>

</div>

{% endblock %}


{% block js %}
<script type="text/javascript">
  var p = new Paginador(
    document.getElementById('paginador'),
    document.getElementById('tblDatos'),
    10
  );

  p.Mostrar();
</script>
{% endblock %}
