{% extends 'base.html' %}

{% block content %}
  <h2>Productos</h2>

  <div class = "divBotonesListado">
    <a href="/productos/crear" class = "lnk" target="_blank">+</a>
    <a href="/productos/crear" class = "descripcion"> Agregar</a>
  </div>



  <div class = "listados">
    <table class = "table">
      <tr>
        <td><strong>Descripción</td>
        <td><strong>Tipo de Producto</td>
        <td><strong>Material</td>
        <td><strong>Longitud</td>
        <td><strong>Calibre</td>
        <td><strong>Forma</td>
        <td><strong>Cantidad</td>
      </tr>

      {% for dato in productos %}
        <tr>
          <td>{{dato.descripcion}}</td>
          <td>{{dato.Tipo_Producto_id}}</td>
          <td>{{dato.Material_id}}</td>
          <td>{{dato.Longitud_id}}</td>
          <td>{{dato.Calibre_id}}</td>
          <td>{{dato.Forma_id}}</td>
          <td>{{dato.getTotal}}</td>
          <!-- <td><a href={% url 'Producto:detail' dato.id %}><i>Ver</i></a></td> -->
          <td><a href={% url 'Producto:edit' dato.id %}><i>Editar</i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
