{% extends 'base.html' %}

{% block content %}

<div id="bloqueForms">
  <div class = "camposForms">
    <form method="post" action="">
      {%csrf_token%}
      <h2>Crear Producto</h2>

      <label>Descripcion</label>
        {{form.descripcion}}

      <label>Tipo de Producto</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Tipo_Producto_id}}

      <label>Material</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Material_id}}


      <label>Longitud</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Longitud_id}}


      <label>Calibre</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Calibre_id}}


      <label>Forma</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Forma_id}}


      <label>Marca</label>
      <a href="/productos/crear" class = "lnk" target="_blank">+</a>
        {{form.Marca_id}}

      <input type='submit' value='Crear'>
    </form>
  </div>
</div>

{% endblock %}
