{% extends 'base.html' %}

{% block content %}

<div id="bloqueForms">

  <div class = "camposForms">

    <form method="post" action="">
    {%csrf_token%}
      <h2>Ingresar Cliente</h2>
      <label>Nombre</label>
      {{form.nombre}}</br>
      <label>Empresa</label>
      {{form.empresa}}</br>
      <label>Direccion</label>
      {{form.direccion}}</br>
      <label>Telefono</label>
      {{form.telefono}}</br>
      <label>NIT</label>
      {{form.nit}}</br>
      <label>Saldo</label>
      {{form.saldo}}</br>

    <input type='submit' value='Guardar'>

  </form>

  </div>
</div>

{% endblock %}

{% block navegacion %}
    <div class="column1">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column2">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column3">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column4">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
{% endblock %}
