<form method="POST" action = "">
  {% csrf_token %}
  <div>
    <label>Nombre</label>
      {{form.nombre}}</br>
  </div>
  <div>
    <label>Empresa</label>
      {{form.empresa}}</br>
  </div>
  <div>
    <label>Direccion</label>
      {{form.direccion}}</br>
  </div>
  <div>
    <label>Telefono</label>
      {{form.telefono}}</br>
  </div>
  <div>
    <label>NIT</label>
      {{form.nit}}</br>
  </div>
  <div>
    <label>Saldo</label>
      {{form.saldo}}</br>
  </div>
  <div>
    <input type="submit" value="Guardar">
</form>
