{% extends 'base.html' %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <div>
      <label>Aprobado</label>
      {{form.aprobado}}
    </div>

    <div>
      <label>Monto</label>
      {{form.monto}}
    </div>

    <div>
      <label>Saldo</label>
      {{form.saldo}}
    </div>

    <div>
      <label>Finalizado</label>
      {{form.finalizado}}
    </div>

    <div>
      <label>Fecha Limite</label>
      {{form.fechaLimite}}
    </div>

    <div>
      <label>Fecha Aprobacion</label>
      {{form.fechaAprobacion}}
    </div>

    <div>
      <label>id Usuario</label>
      {{form.Usuario_id}}
    </div>

    <div>
      <label>id Factura</label>
      {{form.Factura_id}}
    </div>

    <input type="submit" value = "ingresar credito">
</form>

{% endblock %}
