{% extends 'base.html' %}

{% block content %}


<div id="bloqueForms">

  <div class = "camposForms">

    <form method="post" action="">
    {%csrf_token%}
    <h2>Nuevo Detalle</h2>
    <label>id Factura</label>
    {{form.Factura_id}}
<label>id producto</label>
    {{form.Producto_id}}
<label>subTotal</label>
    {{form.subTotal}}
<label>cantidad</label>
    {{form.cantidad}}

    <input type='submit' value='Agregar a Factura'>

  </form>

  </div>
</div>

{% endblock %}

{% block navegacion %}
    <div class="column1">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column2">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
{% endblock %}
