{% extends 'base.html' %}

{% block content %}
<form method="post" action="">
  {%csrf_token%}
  <div>
    <label>Kilometraje de Entrada</label>
    {{form.kEntrada}}<br/>
  </div>
  <div>
    <label>Kilometraje de Salida</label>
    {{form.kSalida}}<br/>
  </div>
  <div>
    <label>Fecha</label>
    {{form.fecha}}<br/>
  </div>
  <div>
    <label>Vale</label>
    {{form.vale}}<br/>
  </div>
  <div>
    <label>Vehiculo</label>
    {{form.Vehiculo_id}}<br/>
  </div>
  <div>
    <input type='submit' value='Guardar'>
  </div>
</form>

{% endblock %}
