{% extends 'base.html' %}


{% block content %}

<div id="bloqueForms">

  <div class = "camposForms">

    <h2>Detalle de Producto</h2>

    <label>Descripcion</label>
      <i>&nbsp;&nbsp;{{producto.descripcion}}</i>
<label>Tipo de Producto</label>
      <i>&nbsp;&nbsp;{{producto.Tipo_Producto_id}}</i>
<label>Material</label>
      <i>&nbsp;&nbsp;{{producto.Material_id}}</i>
<label>Longitud</label>
      <i>&nbsp;&nbsp;{{producto.Longitud_id}}</i>
<label>Calibre</label>
      <i>&nbsp;&nbsp;{{producto.Calibre_id}}</i>
<label>Forma</label>
      <i>&nbsp;&nbsp;{{producto.Forma_id}}</i>

  </form>

  </div>
</div>

{% endblock %}

{% block navegacion %}
    <div class="column1">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column2">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column3">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column4">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
{% endblock %}
