{% extends 'base.html' %}

{% block content %}
  <form method= "post", action="">
    {% csrf_token %}
    <label>Descripcion</label>
      {{form.descripcion}}

    <label>Tipo de Producto</label>
      {{form.Tipo_Producto_id}}

    <label>Material</label>
      {{form.Material_id}}

    <label>Longitud</label>
      {{form.Longitud_id}}

    <label>Calibre</label>
      {{form.Calibre_id}}

    <label>Forma</label>
      {{Forma.Forma_id}}

    <input type="submit" value="Registrar Producto">
  </form>
{% endblock %}
