{% extends 'base.html' %}

{% block content %}

  <div>
    <label>Descripcion</label>
      <i>&nbsp;&nbsp;{{producto.descripcion}}</i>
  </div>

  <div>
    <label>Tipo de Producto</label>
      <i>&nbsp;&nbsp;{{producto.Tipo_Producto_id}}</i>
  </div>

  <div>
    <label>Material</label>
      <i>&nbsp;&nbsp;{{producto.Material_id}}</i>
  </div>

  <div>
    <label>Longitud</label>
      <i>&nbsp;&nbsp;{{producto.Longitud_id}}</i>
  </div>

  <div>
    <label>Calibre</label>
      <i>&nbsp;&nbsp;{{producto.Calibre_id}}</i>
  </div>

  <div>
    <label>Forma</label>
      <i>&nbsp;&nbsp;{{producto.Forma_id}}</i>
  </div>

{% endblock %}
