{% extends 'base.html' %}


{% block content %}

<div id="bloqueForms">

  <div class = "camposForms">

    <form method="post" action="">
    {%csrf_token%}
    <h2>Planilla</h2>

    <label>Agencia</label>
    {{form.Agencia_id}}
    <label>Empleado</label>
    {{form.Empleado_id}}
    <label>Sueldo</label>
    {{form.sueldo}}
    <label>Horas extra</label>
    {{form.horasExtra}}
    <label>Bono Incentivo</label>
    {{form.bonoIncentivo}}
    <label>IGSS</label>
    {{form.igss}}
    <label>ISR</label>
    {{form.isr}}
    <label>Anticipos</label>
    {{form.anticipos}}
    <label>Judiciales</label>
    {{form.judiciales}}
    <label>Otros Descuentos</label>
    {{form.otros}}
    <label>Total de Descuentos</label>
    {{form.totalDescuento}}
    <label>Total Liquido</label>
    {{form.totalLiquido}}

    <input type='submit' value='Agregar'>

  </form>

  </div>
</div>

{% endblock %}

{% block navegacion %}
    <div class="column1">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column2">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column3">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column4">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
{% endblock %}
