{% extends 'base.html' %}

{% block content %}

<div id="bloqueForms">
  <div class = "camposForms">
    <form method="post" action="">
      {%csrf_token%}

      <h2>Crear Agencia</h2>
      <label>Nombre</label>
        {{form.nombre}}
      <label>Dirección</label>
        {{form.direccion}}
      <label>Capital</label>
        {{form.capital}}
      <label>Municipio</label>
        {{form.Municipio_id}}

      <input type='submit' value='Guardar'>
    </form>
  </div>
</div>

{% endblock %}
