{% extends 'base.html' %}

{% block content %}
<h2>Agencias</h2>
<div class = "listados">
  <table class = "table">
    <tr>
      <td><strong>Nombre</td>
      <td><strong>Dirección</td>
      <td><strong>Capital</td>
    </tr>

    {% for dato in agencias %}
      <tr>
        <td>{{dato.nombre}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.capital}}</td>
        <td><a href={% url 'Agencia:detalles' dato.id %}><i>Ver</i></a></td>
        <td><a href={% url 'Agencia:editar' dato.id %}><i>Editar</i></a></td>
        <td><a href={% url 'Agencia:detalles_empleado' dato.id %}><i>Empleados</i></a></td>
      </tr>
    {% endfor %}

  </table>
</div>

{% endblock %}
