{% extends 'base.html' %}

{% block content %}
<div>
  <form action="" method="post">
    {% csrf_token %}
    <div>
      <label>Nombre</label>
      {{form.nombre}}</br>
    </div>
    <div>
      <label>Direccion</label>
      {{form.direccion}}</br>
    </div>
    <div>
      <label>Capital</label>
      {{form.capital}}</br>
    </div>
    <div>
      <label>Municipio</label>
      {{form.Municipio_id}}</br>
    </div>
    <div>
      <input type="submit" value="Guardar">
    </div>
  </form>
</div>
{% endblock %}
