{% extends 'base.html' %}


{% block content %}

<div id="bloqueForms">

  <div class = "camposForms">

    <form method="post" action="">
    {%csrf_token%}
    <h2>Mercaderia</h2>

    <label>Producto</label>
    {{form.Producto_id}}<br/>
<label>Agencia</label>
    {{form.Agencia_id}}<br/>
<label>Cantidad</label>
    {{form.cantidad}}<br/>

    <input type='submit' value='Agregar'>

  </form>

  </div>
</div>

{% endblock %}

{% block navegacion %}
    <div class="column1">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column2">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column3">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
    <div class="column4">
      <a href="http://www.facebook.com"><span class="icon icon-circle-arrow-left"></span></a>
      <div class="title">
        <h2>Atrás</h2>
      </div>
    </div>
{% endblock %}
