{% extends 'base.html' %}

{% block content %}

  <h2>Vehiculos</h2>

  <div class = "divBotonesListado">
    <a href="/agencia/vehiculo/crear/" class = "lnk" target="_blank">+</a>
    <a href="/agencia/vehiculo/crear/" class = "descripcion"> Agregar &nbsp;&nbsp;&nbsp;</a>
    <a href="/agencia/vehiculo/impresion/" class = "lnk" target="_blank">+</a>
    <a href="/agencia/vehiculo/impresion/" class = "descripcion"> Imprimir Orden de Entrega</a>
  </div>


  <div class = "listados">
    <table class = "table" id="tblDatos">
      <tr>
        <td><strong>Marca</td>
        <td><strong>Modelo</td>
        <td><strong>Placa</td>
        <td><strong>Agencia</td>
      </tr>

      {% for dato in vehiculos %}
        <tr>
          <td>{{dato.marca}}</td>
          <td>{{dato.modelo}}</td>
          <td>{{dato.placa}}</td>
          <td>{{dato.Agencia_id}}</td>
          <td><a href={% url 'Agencia:detail_v' dato.id %}><i>Ver</i></a></td>
          <td><a href={% url 'Agencia:edit_v' dato.id %}><i>Editar</i></a></td>
          <td><a href={% url 'Agencia:list_e' dato.id %}><i>Entregas</i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div id="paginador"></div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  var p = new Paginador(
    document.getElementById('paginador'),
    document.getElementById('tblDatos'),
    15
  );

  p.Mostrar();
});
</script>
{% endblock %}
