{% extends 'base.html' %}
{% block content %}

<div id="bloqueForms">

  <div class = "camposForms">

    <form method="post" action="">
    {%csrf_token%}
      <h2>Ingresar Abono</h2>
      <label>Monto</label>
      {{form.monto}}
      <label>Credito</label>
      <select name="creditos">
        <option value="0" selected>------</option>
        {% for credito in creditos %}
        <option value="{{credito.id}}">{{credito.credito_name}}</option>
        {% endfor %}
      </select>

      <input type='submit' value='Ingresar'>

    </form>

  </div>
</div>

{% endblock %}
