{% extends 'base.html' %}

{% block content %}
<h2>Facturas de {{mensaje}}</h2>
</br>

<div class = "listados">


  <table id='tblDatos' class = "table">
    <tr>
      <td><strong>Nombre</td>
      <td><strong>Fecha</td>
      <td><strong>Serie</td>
      <td><strong>No. Factura</td>
      <td><strong>Anulada</td>
      <td><strong>Total</td>
    </tr>
    {% for factura in facturas %}
    <tr>
      <td>
        {{factura.Comodin_id}}
      </td>
      <td>
        {{factura.fecha}}
      </td>
      <td>
        {{factura.serie}}
      </td>
      <td>
        {{factura.noDocumento}}
      </td>
      <td>
        {% if factura.anulada %}
        Si
        {% else %}
        No
        {% endif %}
      </td>
      <td>
        <button onClick="javascript:anular({{factura.id}})" type="button">Anular</button>
      </td>
      <td>
        {{factura.precioTotal}}
      </td>
      <td>
        <a href={% url 'Transacciones:facturas' factura.id %}>Ver</a>
      </td>
    </tr>
    {% endfor %}

  </table>
  <div id="paginador"></div>

</div>

{% endblock %}


{% block js %}
<script type="text/javascript">

  $(document).ready(function(){
    var p = new Paginador(
      document.getElementById('paginador'),
      document.getElementById('tblDatos'),
      10
    );

    p.Mostrar();
  });

  function anular(id_factura){

    $.ajax({

      data:{
        'id':id_factura,
      },
      url: "{% url 'Transacciones:anular' %}",
      type: 'get',
      success: function(data){
        alert(data);
        location.reload();
      },
      error: function(){
        alert('Error con el servidor, intente de nuevo.');
      }

    })

  }

</script>
{% endblock %}
