{% extends 'base.html' %}

{% block content %}

<h2>Transacciones</h2>
<br/>

<div class = "submenu">


  <table class = "table">
  <tr>
    <td><strong>Compras</td>
    <td><a href= "/transacciones/compras"><i>Crear</i></a></td>
    <td><a href= "/transacciones/compras/facturas"><i>Desplegar</i></a></td>
  </tr>

  <tr>
    <td><strong>Ventas</td>
    <td><a href= "/transacciones/ventas"><i>Crear</i></a></td>
    <td><a href= "/transacciones/ventas/facturas"><i>Desplegar</i></a></td>
  </tr>

  <tr>
    <td><strong>Créditos Compras</td>
    <td><a href= "/"><i></i></a></td>
    <td><a href= "/transacciones/compras/creditos"><i>Desplegar</i></a></td>
  </tr>


  <tr>
    <td><strong>Créditos Ventas</td>
    <td><a href= "/"><i></i></a></td>
    <td><a href= "/transacciones/ventas/creditos"><i>Desplegar</i></a></td>
  </tr>

  </table>



</div>
{% endblock %}
