{% extends 'base.html' %}

{% block content %}

<h2>Transacciones</h2>
<br/>

<div class = "submenu">


  <table class = "table">
  <tr>
    <td><strong>Compras</td>
    <td><a href= "/transacciones/compras"><i>Crear</i></a></td>
    <td><a href= "/transacciones/compras"><i>Desplegar</i></a></td>
  </tr>

  <tr>
    <td><strong>Ventas</td>
    <td><a href= "/transacciones/ventas"><i>Crear</i></a></td>
    <td><a href= "/transacciones/ventas"><i>Desplegar</i></a></td>
  </tr>

  <tr>
    <td><strong>Créditos</td>
    <td><a href= "/transacciones/compras"><i>Crear</i></a></td>
    <td><a href= "/transacciones/compras"><i>Desplegar</i></a></td>
  </tr>

  <tr>
    <td><strong>Facturas</td>
    <td><a href= "/transacciones/compras"><i>Crear</i></a></td>
    <td><a href= "/transacciones/compras"><i>Desplegar</i></a></td>
  </tr>
  </table>



</div>
{% endblock %}
