{% extends 'base.html' %}

{% block content %}
<div class = "camposForms">

  <div class = "tboxs">
    <label>Cliente:</label>
    <select id="cliente" name="cliente">
      <option selected>------</option>
      {% for cliente in clientes %}
        <option value="{{cliente.id}}">{{cliente}}</option>
      {% endfor %}
    </select>

    <a href="/productos/crear" class = "lnk" target="_blank">+</a>

    <br></br>
    <label>Serie Factura</label>
    <input type="text" id='serie' name="serie" value="A">
    <label>No. Factura</label>
    <input type="text" id="num" name="num" value="0000">
  </div>


<div class = "tbox1">
  <form action="" method="post">
    {% csrf_token %}
    <label>Tipo de Producto</label>
    <select id="tipo" name="tipo1">
      <option selected>------</option>
      {% for tipo in tipos %}
        <option value="{{tipo.id}}">{{tipo}}</option>
      {% endfor %}
    </select>
    <label>Marca</label>
    <select id="marca" name="marca">
      <option selected>------</option>
      {% for marca in marcas %}
        <option value="{{marca.id}}">{{marca}}</option>
      {% endfor %}
    </select>
    <label>Producto</label>
    <select id='productos' name='productos1'>
      <option selected>------</option>
      <!-- {% for producto in productos %}
        <option value="{{producto.id}}">{{producto.nombre}}</option>
      {% endfor %} -->
    </select>
    <label>Cantidad</label>
    <input id="cantidad" type="text" name="cantidad" value=0>
    <label>Precio</label>
    <input id="precio" type="text" name="precio" value=0></br>
    <label>Crédito</label>
    <input type="checkbox" id="credito" name="credito" checked></br>
    <input id="agregar" type="button" value="Agregar detalle"></br>
  </form>
</div>
</div>

<div class = "tbox2">
  <table class="table" id='detalles' name="detalles">
    <tr>
      <td>Cantidad</td>
      <td>Descripción</td>
      <td>Precio unitario</td>
      <td>Sub-Total</td>
    </tr>
  </table>
  <input id="facturar" type="button" value="Facturar">
</div>

{% endblock %}

{% block js %}
{% csrf_token %}
<script type="text/javascript">
  $('#agregar').on('click', agregarDetalle);
  $('#marca').on('change', busquedaProducto);
  $('#facturar').on('click',facturar);

  function facturar(){

    var filas = document.getElementById('detalles').rows;
    var total = 0;

    var detalles = '{\n';

    for(var i=1; i<filas.length;i++){
      var detalle = '\n"detalle'+i+'":'+'{'+
        '\n\t"cantidad":' + filas[i].cells[0].innerHTML +','+
        '\n\t"descripcion":' + filas[i].cells[1].innerHTML+','+
        '\n\t"subtotal":' + filas[i].cells[3].innerHTML;
        total = total + parseInt(filas[i].cells[3].innerHTML);
      if (i==filas.length-1){
        detalle += '\n\t}\n';
      }else{
        detalle += '\n\t}, \n';
      }

      detalles = detalles + detalle;
      //console.log(detalle);
    }

    detalles = detalles + '}';
    console.log(detalles);

    //var json = JSON.parse(detalles);

    $.ajax({

      data: {
          'detalles': detalles,
          'cliente': $('#cliente').val(),
          'serie': $('#serie').val(),
          'num_doc': $('#num').val(),
        },
      url: "{% url 'Transacciones:venta' %}",
      type: 'get',
      dataType: 'json',
      success: function(data){
        alert("Factura creada con exito.");

        if(!document.getElementById('credito').checked)
          location.href += 'facturas/';
        else
          location.href = location.href + 'crear_credito/?factura='+data[0].pk+'&monto='+total;
      }
    });

  }

  function agregarDetalle(){

    var tabla = document.getElementById('detalles');
    var cantidad = $('#cantidad').val();
    var producto = $('#productos').val();
    var precio = $('#precio').val();

    var fila = document.createElement('tr');
    var columna = document.createElement("td");

    var texto = document.createTextNode(cantidad);
    var columna = document.createElement("td");
      columna.appendChild(texto);
      fila.appendChild(columna);

    texto = document.createTextNode(producto);
    var columna = document.createElement("td");
      columna.appendChild(texto);
      fila.appendChild(columna);

    texto = document.createTextNode(precio);
    var columna = document.createElement("td");
      columna.appendChild(texto);
      fila.appendChild(columna);

    var subtotal = cantidad * precio;

    texto = document.createTextNode(subtotal);
    var columna = document.createElement("td");
      columna.appendChild(texto);
      fila.appendChild(columna);

    tabla.appendChild(fila);

  }



  function busquedaProducto(){
    var id_marca = $(this).val();
    var id_tipo = $('#tipo').val();

    $.ajax({

      data: {
        'id_marca':id_marca,
        'id_tipo' : id_tipo
      },
      url: "{% url 'Producto:filtroProducto' %}",
      type: 'get',
      success: function(data){
        var inner = document.getElementById('productos');

        inner.innerHTML = "";

        for(var i=0; i<data.length;i++){
          var nuevo = document.createElement("option");

          nuevo.value = data[i].pk;
          nuevo.innerHTML = data[i].fields.descripcion + "-"
                            + data[i].fields.Material_id + "-"
                            + data[i].fields.Calibre_id + "-"
                            + data[i].fields.Forma_id + "-"
                            + data[i].fields.Longitud_id;

          inner.options.add(nuevo);
        }

      }

    })

  }


</script>
{% endblock %}
